.blog_data{
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.blog_data .btn{
    width: 8em;
    color: #fff;
    border-radius: 5px;
    background-color: #feb141;
    cursor: pointer;
}

.blog_data img{
    border-radius: 5%;
    width: 50vh;
    margin: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}




@media screen and (max-width: 820px){
    .blog_data{
        flex-flow: row wrap;
    }

    .blog_data img{
        display: block;
        margin: auto;
        order: 1;
    }

    .blog_about {
        display: block;
        order: 2;
        width: 100%;
        margin-top: 1em;
    }

    .blog_data .btn{
        justify-content: center;
        margin: auto;
        display: flex;
    }
}


@media screen and (max-width: 1200px){
    .blog iframe{
        margin-top: 1em;
    }
}

@media screen and (max-width: 560px){
    .blog iframe{
        height: 250px;
        width: 400px;
    }
}

@media screen and (max-width: 445px){
    .blog iframe{
        height: 200px;
        width: 300px;
    }
}

.blog iframe{
    border-radius: 10px;
}