.blog_data img{
    border-radius: 50%;
    width: 20em;
    height: 20em;
    margin: 20px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
}

.blog_data{
    display: flex;
    align-items: center;
    /* width: 60%; */
    flex: 0 0 auto;
}

.blog_data .btn{
    width: 10em;
    height: auto;
    border-radius: 40px;
    background-color: #fed501;
    color: white;
    font-weight: 600;
    font-size: 1em;
}

.blog_about{
    /* display: flex; */
    align-items: center;
}



@media screen and (max-width: 820px){
    .blog_data{
        flex-flow: row wrap;
    }

    .blog_data img{
        display: block;
        /* width: 80%; */
        margin: auto;
        order: 1;
    }

    .blog_about {
        display: block;
        order: 2;
        width: 100%;
        margin-top: 1em;
    }

    .blog_data .btn{
        justify-content: center;
        margin: auto;
        display: flex;
    }
}


@media screen and (max-width: 1200px){
    .blog iframe{
        margin-top: 1em;
    }
}