.pledge{
    background-color: #fed501;
    height: auto;
    width: 100%;
    /* color: white; */
    /* margin: 10px; */
}

.pledge .head{
    word-spacing: 2px;
    font-size: 4em;
}

.pledge .slogan{
    font-size: 3em;
    word-spacing: 8px;
    letter-spacing: 3px;
    /* max-width: 50%; */
}


.pledge .number{
    font-size: 7em;
}

.pledge .btn{
    width: 8em;
    height: 2em;
    border-radius: 40px;
    background-color: #429445;
    color: white;
    font-weight: 600;
    font-size: 2em;
}